<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EbayFactoryConnectionString" connectionString="Data Source=RICHARD-HP\RICHARD;Initial Catalog=EbayFactory;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EbayFactoryConnectionString1" connectionString="Data Source=RICHARD-HP\RICHARD;Initial Catalog=EbayFactory;User ID=sa;Password=wizard26"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="735" />
    <add key="TimeOut" value="60000" />
    <add key="LogFileName" value="Log.txt" />
    
    <!-- your Developer Id with eBay -->
    <!--=sandbox: ba39959a-1932-4c23-8958-00315cd58e5a -->
    <!--production:  ba39959a-1932-4c23-8958-00315cd58e5a-->
    <add key="Environment.DevId" value="ba39959a-1932-4c23-8958-00315cd58e5a" />
    <!-- your Application Id with eBay -->
    <!-- sandbox:  RichardF-18df-4fec-a53e-fc4110d935dd -->
    <!-- production:  RichardF-62b4-46b0-bccd-37e659be2a82 -->
    <add key="Environment.AppId" value="RichardF-62b4-46b0-bccd-37e659be2a82" />
    <!-- your Application Certificate with eBay -->
    <!-- sandbox:  5af0bfd0-ac96-4647-9a72-46e0507d2c6d -->
    <!-- production:  41c45570-0435-433d-869b-1e67d12cbf57-->
    <add key="Environment.CertId" value="41c45570-0435-433d-869b-1e67d12cbf57" />
    
    <!-- API Server URL -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi" />
    <!-- EPS Server URL -->
    <!-- For production site use: https://api.ebay.com/ws/api.dll"/-->
    <add key="Environment.EpsServerUrl" value="https://api.sandbox.ebay.com/ws/api.dll" />
    <!-- eBay Signin URL -->
    <!-- For production site use: https://signin.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <!-- https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <add key="Environment.SignInUrl" value="https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn" />
    <!-- ViewItem URL -->
    <!-- For production site use: http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} -->
    <!-- sandbox:  http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} -->
    <add key="Environment.ViewItemUrl" value="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0}" />
    <!-- token is for both API server and EPS server -->
    <!-- sandbox:  AgAAAA**AQAAAA**aAAAAA**a6uYTw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhCJeHowWdj6x9nY+seQ**hecAAA**AAMAAA**PGw5GWzRPRx9bte67Rz1RLPeY3bzwNLRJb8IwGP8Jz89dYsI2urNe7P3gbULIypOLKEVN6f7K3tHLhexi7GKdVxblTfWKAQZPNW+1C4phsr8S44Ou1sGe+L4Z035zPP7FwaZ2N1JjlJ4NttyONUEn3DCvvMuR5NxwIWj6co6JcV9AdGGL337CGS/QnVUrO/xhubLopPLHZRNBXppTkq1XLtHCt4G7ld9+L+FCGy8n8X/3GQbvb+FWPCotvix1KAZcsUe7YOmCRYH1AZv+eeHT31KTPgpVC09wvp71rjRh16UAKpvPtFekNsoCGE6pU+6ByinQQuLrsXCnIgQDm0+wkifOjpd6OrV7xznrTdGqzC3v8abXM/XbTdmKFzpEOJRVwVLiOovnthebEuA/df5t4/uN+UzgtSXzzOG2nWIp2JAhDe8jnnllZ/JkEMlc+Zc23SIBxQbaqcWoL9R75Q7QMin4zmFSVnMJi8V/gRGuVDJWFg4fQlaGuH0n5fgKNKTsGtjSXBmBtSjicwPk2wsvBNNas9EnPS67Nj8d1Jx/G9E3syNok32FuIHoT3AQRy5P6OV/k/b+LANxmalh3X98bUXiMMt3Y6HagD0fOOIYAcQFe/eGUJpHKzxPEjQWrvvqqi+dXXRTf2/6OUCywhBvc6bLOh+be3w8YIxeoGH6ZWPGIdLEqyn6+n1IsEtoeLcC5TC5Tp9i7yV1jjoDIdaZcfg/AMdz/y1AZc0PnR5G6CbGpM/i/KMJknH5AidPWCP -->
    <!-- production:  AgAAAA**AQAAAA**aAAAAA**qyRUUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wJmIGmD5KCpAqdj6x9nY+seQ**V2MAAA**AAMAAA**B/11rmFcZi81Dqo99zZKE6MMWKRW+n8ahyDNNBEjcrQB46LhYBSsoyrkqB6EHoFwf1tkMYWSNPW2iGTAklI3c8xAf1wt3jQNrCw+kWZAVvrLnnCJXKk39sdrPJWQe7jJPzo9ku+aLTyn/UtaihvIvFOh6PTtPJspUX/0E9t5xbE6yCsTUprIyTpvqOswvM3icLhBnxvKfTKaR5uEemP0IIA8U7cod+z/op1tC5tvDDWZbz5sQBG/Phm8HwhTAjUYLyecYce5YtQfNMPBYKihoTVYa1cbuhh/x/uF2cEOHB0TwVhKvvTn4m0a2mblWrnBkUTLb5I08VDy0YwPkW3YBoAxtz8hFfgHx+8z4SDC4yxVESBSaSF9GjL2UTmh+nzn4jFbmRfVyDsTjeWXZ3TzXiworGJvjkOeP/liEdfpUx9dlHiL1seNXQEP+w9CiQbgs1qWwqhcyFJ6JQr0fTdiWrzC/nYm2NlnixzcLnNv+bUDwKZvCDIecSTjT4mrKx1ynFzS1SRDWJFm2mAC0Mq7h7vDMQewRz244yf0+GoPzRWu5+810TmpW9xB7Lnhq+pyS8ceoQ5kTy08Lj676Wbsh0MNCDLGRI0z+YC2zSJOlMXa6mzRwys0MnzbFFdAozBRHyjjhWzoE6wM86ykK7UnbZ+6X7XVV9O2JKIcJTF/B+Omj8P9Nw+WUptMdzQbcZqrsB3gbBjO+hfzRQSClJpdoQKXJWtKGQug1hcdGxFhnLjlSjqhvF/uotrU51qyr9nn-->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**qyRUUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wJmIGmD5KCpAqdj6x9nY+seQ**V2MAAA**AAMAAA**B/11rmFcZi81Dqo99zZKE6MMWKRW+n8ahyDNNBEjcrQB46LhYBSsoyrkqB6EHoFwf1tkMYWSNPW2iGTAklI3c8xAf1wt3jQNrCw+kWZAVvrLnnCJXKk39sdrPJWQe7jJPzo9ku+aLTyn/UtaihvIvFOh6PTtPJspUX/0E9t5xbE6yCsTUprIyTpvqOswvM3icLhBnxvKfTKaR5uEemP0IIA8U7cod+z/op1tC5tvDDWZbz5sQBG/Phm8HwhTAjUYLyecYce5YtQfNMPBYKihoTVYa1cbuhh/x/uF2cEOHB0TwVhKvvTn4m0a2mblWrnBkUTLb5I08VDy0YwPkW3YBoAxtz8hFfgHx+8z4SDC4yxVESBSaSF9GjL2UTmh+nzn4jFbmRfVyDsTjeWXZ3TzXiworGJvjkOeP/liEdfpUx9dlHiL1seNXQEP+w9CiQbgs1qWwqhcyFJ6JQr0fTdiWrzC/nYm2NlnixzcLnNv+bUDwKZvCDIecSTjT4mrKx1ynFzS1SRDWJFm2mAC0Mq7h7vDMQewRz244yf0+GoPzRWu5+810TmpW9xB7Lnhq+pyS8ceoQ5kTy08Lj676Wbsh0MNCDLGRI0z+YC2zSJOlMXa6mzRwys0MnzbFFdAozBRHyjjhWzoE6wM86ykK7UnbZ+6X7XVV9O2JKIcJTF/B+Omj8P9Nw+WUptMdzQbcZqrsB3gbBjO+hfzRQSClJpdoQKXJWtKGQug1hcdGxFhnLjlSjqhvF/uotrU51qyr9nn" />
    <!-- eBay site ID -->
    <add key="UserAccount.eBayUserSiteId" value="0" />
    <add key="logexception" value="true"/>
    <add key="logmessages" value="true"/>
    <add key="logsdkmessages" value="true"/>
    <add key="logsdk" value="true"/>
    <add key="logfile" value="Log.txt"/>
    <!-- Rule Name-->
    <add key="RuName" value=""/>
    <!-- Set this if you access eBay API server behind a proxy server-->
    <add key="Proxy.Host" value="" />
    <add key="Proxy.Port" value="" />
    <!-- set proxy server username/password if necessary-->
    <add key="Proxy.Username" value=""/>
    <add key="Proxy.Password" value=""/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
